body{
    margin: 0px;
}

.att{
    width: 100%;
    padding: 15px;
    position:fixed;
    display: flex;
    color:aqua;
    background-color:brown;
}

.att a{
    text-decoration: dashed;
    color: black;
    margin-right: 30px;
    font-weight: 100;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.att a:hover{
    color:darksalmon;
}
.bannerTitle{
    font-size: 4rem;
}
.mob{
    margin-left: 50%;
    display: flex;
}

.details{
    background-color: antiquewhite;
}

.details font{
    font-family:'Times New Roman', Times, serif;
    font-size:100px;
    font-weight: lighter;
    color: black;
    display: inline-block;
    
}

.details font:hover{
    color: firebrick;
}

.details p{
    margin-top:0px;
    font-size: 50px;
    color: red;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.details p:hover{
    color:black;
}

.details a ion-icon{
    color:black;
    font-size:50px;
    margin-right: 15px;
}

.details a ion-icon:hover{
    color: black;
}

.me{
    text-decoration: none;
    color:azure;
    font-size:40px;
    padding: 10px;
    border-radius: 10px;
    background-color:aqua;
}

.me:hover{
    background-color:rgb(45, 210, 210);
    color:aliceblue;
}

.image{
    float: left;
    margin-left: 8%;
}
.image:hover{
    border: 2px solid #9acd32;
}
.aboutme{
    font-size: 50px;
    text-align:justify;
    color:blue;
}


.aboutme p{
    color:black;
    margin-left: 40%;
    margin-right: 5%;
    font-size: 32px;
    font-weight: lighter;
    text-align:inherit;
}
.aboutme p:hover{
    background-color: #d87093;
    border: 2px solid #9acd32;
}
.aboutme a{
    text-decoration: none;
    font-size: 40px;
    background-color:black;
    padding: 15px;
    border-radius: 10px;
    color: whitesmoke;
    margin-left: 30%;
}

.aboutme a:hover{
    background-color: white;
    color: black;
}

.projects{
    background-color:beige;
    margin-top: -40px;
    
}

.projects p{
    font-size: 40px;
    font-weight:lighter;
    padding-top: 40px;
}

.web{
    font-size: 30px;
    font-weight: lighter;
    color: brown;
}

.det{
    font-size: 20px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

table a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    background-color:darkseagreen;
    padding: 20px;
    border-radius: 10px;
}

table a:hover{
    color: black;
    background-color:beige;
    border: 1px solid black;
}

.skills{
    background-color: lavender;
    padding-top: 1%;
}

.skills p{
    font-size: 40px;
    font-weight:lighter;
}

.contact{
    background-color: honeydew;
    text-align: center;
}

.contact font{
    font-size: 40px;
}

.contact p{
    margin: 2% 4% 1% 4%;
    font-size: 25px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.contact a{
    color: blue;
    text-decoration: none;
}